Authomatic==0.0.9
Flask==0.10.1
Flask-Login==0.2.11
Flask-Mail==0.9.1
Flask-OAuth==0.12
Flask-Principal==0.4.0
Flask-SQLAlchemy==2.0
Flask-Security==1.7.4
Flask-Social==1.6.2
Flask-WTF==0.10.2
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.8
WTForms==2.0.1
Werkzeug==0.9.6
blinker==1.3
boto==2.34.0
facebook-sdk==1.0.0-alpha
httplib2==0.9
itsdangerous==0.24
oauth2==1.5.211
passlib==1.6.2
psycopg2==2.5.4
requests==2.4.3
virtualenv==1.11.6
wsgiref==0.1.2
