
/*.img-circle {
	border-radius: 50%;
}
*/
.title{
	padding-top: 1em;
	font-size: 3em;
}

.harvestphoto {
	width:20%;
	height:auto;
	/*border-radius: 90%;*/
	/*border: 3px solid black*/
}


.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li 
{
	width:10%;
    display: inline-block;
}

header p
{
	text-align: center;
	text-shadow: -1px -1px 0 #000,
 				1px -1px 0 #000,
 				-1px 1px 0 #000,
 				1px 1px 0 #000;

} 

#filtertext {
    color: black;}
#distance {
	display: inline-block;
	text-align: center;
}
#swapimage {
	border: solid;
}

#header
	{
		padding: 1em 0 3em 0;
	}