
/*.img-circle {
	border-radius: 50%;
}
*/
.title{
	padding-top: 1em;
	font-size: 3em;
}

.harvestphoto img {
	width:20%;
	height:auto;
	/*border-radius: 90%;*/
	/*border: 3px solid black*/
}


.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li 
{
	width:10%;
    display: inline-block;
}

header p
{
	text-align: center;
	text-shadow: -1px -1px 0 #000,
 				1px -1px 0 #000,
 				-1px 1px 0 #000,
 				1px 1px 0 #000;

} 

#filtertext {
    color: #CC3300;}
#distance {
	display: inline-block;
	text-align: center;
}
#swapimage {
	border: solid;
}

#header
	{
		padding: 1em 0 3em 0;
	}
.main > .content.style1
			{
				background-color: white
			
			}

.hidden {
	visibility: hidden;
	display: none;
}

#anchor {
	background-color: #ABFF8D;
	border-radius: 5px;
	color: black;
}



/*responsive grid system*/
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.1%;
}
.span_1_of_3 {
	width: 32.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0;
	}
}

@media only screen and (max-width: 480px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
}

h1.title {font-family: 'Londrina Sketch', cursive;
			font-size: 73px;
			color: white;}
.navbar {font-family: 'Amatic SC', cursive;
			font-size: 20px;
			background-color: #CC3300
; }
.titletext {font-family: 'Amatic SC', cursive;
			font-size: 20px;
			color: white;
			}
.contenttext {font-family: 'Amatic SC', cursive;
			font-size: 20px;
			color: #CC3300;
			}
h2.contenttext {font-family: 'Amatic SC', cursive;
			font-size: 20px;
			color: #CC3300;
			}
.biggertext {font-size: 1.5em;}

.harvestfilters {font-family: 'Amatic SC', cursive;
			font-size: 20px;
			background-color: #F5D6CC
; }




/*

*/
/*#661A00
url('/static/images/bananas.jpg') top right no-repeat,
							url('images/bgbl.svg') bottom left no-repeat,
							url('images/bgbl.svg') bottom left no-repeat,
							url('images/overlay.png'),
							linear-gradient(45deg, #b39c68, #a56365, #412e4c);
				/*background-color: #CC3300;*/
				/*background:	url('/static/images/offwhite.jpg') top right,
							linear-gradient(45deg, #b39c68, #a56365, #412e4c);*/
/**/


