
body {
		margin: 0;
		background-image: url('../images/header.jpg');
		background-position:		top left,							center center;
		background-repeat:			no-repeat;
		background-size:			cover;
		text-align: center;
		padding: 14em 0 14em 0;
		color: #fff;
		opacity: 0.8;

}

.title {font-family: 'Londrina Sketch', cursive;
			font-size: 73px;
			color: white;}
.text {font-family: 'Amatic SC', cursive;
			font-size: 20px;
			background-color: #CC3300
; }