
body {
		margin: 0;
		background-image: url('../images/header.jpg');
		background-position:		top left,							center center;
		background-repeat:			no-repeat;
		background-size:			cover;
		text-align: center;
		padding: 14em 0 14em 0;
		color: #fff;
		opacity: 0.8;

}

.mytitle {font-family: 'Londrina Sketch', cursive;
			font-size: 80px;
			background-color: #CC3300;
			background-size: 70%;
			color: white;
			height: 50px;
			padding: 0;
			margin-bottom: 0;
			}

.text {font-family: 'Amatic SC', cursive;
			font-size: 20px;
; }

.hello {
	font-family: 'Amatic SC', cursive;
	color:  white;
	font-size: 25px;
	background-color: #CC3300;
	background-size: 70%;
}

#homebutton {
	margin-bottom: 10px;
	margin-top: 10px;
}