{% extends "base.html" %}

{% block body %}

<section id="first" class="main">

<div class="content dark style1 featured">
	<div class="container">
		<section> 
			<header>
				<h3>ALL OF {{ current_user.name }}'s ITEMS:</h3>
			</header>
				<p>check out all of your items!</p>
		</section>
	</div>


		{% for photo in current_user.items %}
			<div class="section group">
				<div class="col span_3_of_3">
					<section>
						<div class="harvestphoto fit"><img src= "{{ photo.photo_path }}" alt=""/></div>
					</section>
				</div>
			</div>
		{% endfor %}

</section>






{% endblock %}

