{% extends "base.html" %}

{% block body %}

<div class="12u">
		<section> 
			<span class="feature-icon"><span class="icon fa-leaf"></span></span>
			<header>
				<h3>{{ current_user.name }}'s' OPEN ITEMS:</h3>
			</header>
				<p>check out all of your items!</p>
		</section>
	</div>

	
	{% for photo in current_user.items %}
	
	<div class="fit"><img class="harvestphoto" src= "{{ photo.photo_path }}" alt=""/></div>

	{% endfor %}

<div class="row">
	<div class="12u">
		<footer>
			<a href="/profile" class="button scrolly">Back to Profile</a>
		</footer>
	</div>
</div>

{% endblock %}