{% extends "base.html" %}

{% block body %}


	<style type="text/css">
	.wrapper, .actions { margin-bottom: 10px; padding: 5px; text-align:left; }
	.actions { text-align: center; }
	</style>
	


		<section id="fourth" class="main">
				<header>
					 {% with messages = get_flashed_messages() %}
				      {% if messages %}
				        <ul class=flashes>
				        {% for message in messages %}
				            <p style = "color:red"><bold>{{ message }}</bold></p>
				        {% endfor %}
				        </ul>
				      {% endif %}
				    {% endwith %}  	
					<div class="container">  
						<h2>Edit your info below</h2>
					</div>
				</header>
				<div class="content style4 featured">
					<div class="container small">
						<form method="post" id="location" action="/editprofile" enctype="multipart/form-data">
							
							<div class="row half">
								<div class="6u"><input type="text" name="user_name" value="{{ current_user.name}}" placeholder="Name"/></div>
								{%if current_user.location == None %}
									<div class="6u"><input type="text" name= "user_location" placeholder="Location" /></div>
								{% else %}
									<div class="6u"><input type="text" name= "user_location" value="{{ current_user.location}}" placeholder="Location" /></div>
								{% endif %}
													
				
								{% for photo in current_user.items %}
								<div>
								<div class="harvestphoto fit"><img src= "{{ photo.photo_path }}" alt=""/></div>
									Fruit or Veggie?
									<!-- <input type="hidden" name="item[{{ photo.id }}][]" value="{{ photo.id }}"> -->
									<select name="forv-{{ photo.id }}">
										{% for option in ["fruit", "veggie", "other"] %}		
											<option value= "{{ option }}" {% if items_attribute_dictionary.get(photo.id, {}).get('forv') == option %} selected{% endif %}>{{option | capitalize}}
										{% endfor %}</option>
									</select>
									Open or Closed?
									<select name="status-{{ photo.id }}">
										{% for option in ["open", "closed"] %}
											<option value="{{ option }}" {% if items_attribute_dictionary.get(photo.id, {}).get('status') == option %} selected{% endif %}>{{option | capitalize}}
											{% endfor %}</option>
									</select>
									Gift?
									<select name="gift-{{ photo.id }}">
										{% for option in ["no", "yes"] %}
											<option value="{{ option }}" {% if items_attribute_dictionary.get(photo.id, {}).get('gift') == option %} selected{% endif %}>{{option | capitalize}}
											{% endfor %}</option>
									</select>
									Prepicked?
									<select name="prepicked-{{ photo.id }}">
										{% for option in ["yes", "no"] %}
											<option value="{{ option }}" {% if items_attribute_dictionary.get(photo.id, {}).get('prepicked') == option %} selected{% endif %}>{{option | capitalize}}
										{% endfor %}</option>
									</select>
									Add a short description of your item below.
									<div><input type="text" name="item_description-{{ photo.id }}" value= "{{ photo.description }}" placeholder="Item Description"/></div>
							</div>
						
								{% endfor %}
								
								<div class="12u">
									<div id="new_items_placeholder"></div>

										<div id="new_item_info" class="hidden">
											<div id="dynamicInput">
										          Item 1<br><input type="file" name="file[]">
										    </div>				
											Fruit or Veggie?
											<select name="forv_new[]">
												{% for option in ["fruit", "veggie", "other"] %}		
													<option value= "{{ option }}">{{option | capitalize}}
												{% endfor %}</option>
											</select>
											Open or Closed?
											<select name="status_new[]">
												{% for option in ["open", "closed"] %}
													<option value="{{ option }}">{{option | capitalize}}
													{% endfor %}</option>
											</select>
											Gift?
											<select name="gift_new[]">
												{% for option in ["no", "yes"] %}
													<option value="{{ option }}">{{option | capitalize}}
													{% endfor %}</option>
											</select>
											Prepicked?
											<select name="prepicked_new[]">
												{% for option in ["yes", "no"] %}
													<option value="{{ option }}">{{option | capitalize}}
												{% endfor %}</option>
											</select>
											Add a short description of your item below.
											<div><input name= "description_new[]" type="text" placeholder="Item Description"/></div>
										</div>
								</div>

								      </div>

								     <input type="button" id="new_item" value="Add an item to trade">

								</div>
							</div>
							
							<div class="row">
								<div class="12u">
									<ul class="actions">
										
										<li><input type="submit" class="button" value="Save My Info" /></li>
										
									</ul>
								</div>
							</div>

						</form>
					</div>
				</div>
			</section>


			
			
		<!-- Footer -->
			<section id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
				</ul>
				<div class="copyright">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</section>
						
		
								      <script>
								      $("#new_item").click(function() {
								      	$("#new_item_info").clone().appendTo("#new_items_placeholder").removeClass("hidden");
								      	
								      });



										var counter = 1;
										var limit = 5;
										function addInput(divName){
										     if (counter == limit)  {
										          alert("You have reached the limit of adding " + counter + "open items. Once you have a match, change your item's status to closed, and you can add more items to swap!");
										     }
										     else {
										          var newdiv = document.createElement('div');
										          newdiv.innerHTML = "Item " + (counter + 1) + " <br><input type='file' name='file[]'>";
										          document.getElementById(divName).appendChild(newdiv);
										          counter++;
										     }
										}

										function readURL(input) {
									        if (input.files && input.files[0]) {
									            var reader = new FileReader();

									            reader.onload = function (e) {
									                $('#photo')
									                    .attr('src', e.target.result)
									                    .width(250)
									                    // .height(100);
									            };

									            reader.readAsDataURL(input.files[0]);
									        }
									    }



									 </script>

	{% endblock %}
</html>