{% extends "base.html" %}

{% block body %}


<section class="main" class="dark">
	<header id="filtertext">
		<h1>Filter</h1>
		<p>I want to harvest within:</p>
		<form id="filter" enctype="multipart/form-data">
			 <div id="distance" class="4u">
			 	<select name="distance">
					<option name="1 mile" value="1 mile">1 mile</option>
					<option name="5 miles" value="5 miles">5 miles</option>
					<option name="10 miles" value="10 miles">10 miles</option>
					<option name="25 miles" value="25 miles">25 miles</option>
					<option name="50 miles" value="50 miles">50 miles</option>
				</select> 
			</div>


			<div>
				<div><input class="harvest-checkbox" type="checkbox" name="Veggie" value="Veggie"> Veggie</div>
				<div><input class="harvest-checkbox" type="checkbox" name="Fruit" value="Fruit"> Fruit</div>
				<div><input class="harvest-checkbox" type="checkbox" name="Other" value="Yes"> Other (ex: flowers) </div>
				<div><input class="harvest-checkbox" type="checkbox" name="prepicked" value="prepicked"> Prepicked</div>
				<div><input class="harvest-checkbox" type="checkbox" name="Gifts" value="Gifts"> Gifts</div>
			</div>

			<input type="submit" id="harvest" value="Harvest!">
		</form>
		<div id="swapimage" class="6u"><a href="#" class="image fit"><img src="static/images/plums.jpg" alt="" width="42" height="auto" border="5"/></a></div>
	</header>
	


</section>


	<script>
		  $("#harvest").click(function (event) {
		  	event.preventDefault();
		  	console.log("CLICK!");
			console.log($("input:checked"));
		  	
		  	// TO DO:
		  	// send which were checked to route -- get
		  	// route to do logic and send back json

		  })
	</script>
{% endblock %}