{% extends "base.html" %}

{% block body %}

<section class="main" class="dark">
	<header id="filtertext">
		{% with messages = get_flashed_messages() %}
				      {% if messages %}
				        <ul class=flashes>
				        {% for message in messages %}
				            <p style = "color:red"><bold>{{ message }}</bold></p>
				        {% endfor %}
				        </ul>
				      {% endif %}
				    {% endwith %}  
			<div id="message-container">
			</div>	
		<h2>Filter</h2>
		I want to harvest within:
		<form id="filter" enctype="multipart/form-data">
			 <div id="distance" class="4u">
			 	<select name="distance">
					<option name="1 mile" value="1 mile">1 mile</option>
					<option name="5 miles" value="5 miles">5 miles</option>
					<option name="10 miles" value="10 miles">10 miles</option>
					<option name="25 miles" value="25 miles">25 miles</option>
					<option name="50 miles" value="50 miles">50 miles</option>
				</select> 
			</div>


			<div>
				First Choose what you would like to harvest
				<div><input class="harvest-checkbox" type="checkbox" name="Veggie" value="Veggie"> Veggie</div>
				<div><input class="harvest-checkbox" type="checkbox" name="Fruit" value="Fruit"> Fruit</div>
				<div><input class="harvest-checkbox" type="checkbox" name="Other" value="Yes"> Other (ex: flowers) </div>
				Next decide whether or not you would like the item to be prepicked
				<div><input class="harvest-checkbox" type="checkbox" name="prepicked" value="prepicked"> Prepicked</div>
				And finally, if you are not searching to for a swap, but rather a gift, check the box below
				<div><input class="harvest-checkbox" type="checkbox" name="Gifts" value="Gifts"> Gifts</div>
			</div>

			<input type="submit" id="harvest" value="Harvest!">
		</form>
		<div id="harvest-result"><br>
			<input type="submit" id="no" value="Nope!">
           	<img id="current-image" src = "" alt="item" height=auto width="400"/> 
           	<input type="submit" id="yes" value="Like!"><br>
           <h2>DESCRIPTION: </h2>
		</div>
	</header>
	


</section>


	<script>
		var harvest_items=[];
		var item_to_show;
		$("#harvest-result").hide()

		function show_first_harvest_item() {
			if (harvest_items.length == 0) {
				alert("There are no more items in this search, consider expanding your filter, and harvest again!");
				$("#harvest-result").hide();
				return; 
			}
			item_to_show = harvest_items[0];
			// console.log(i, item_to_show);
			$("#current-image").attr("src", item_to_show.photo);
			$("#harvest-result h2").text(item_to_show.description);
			$("#harvest-result").show();
			harvest_items.shift();
		}

		$("#yes").click(function (event) {
			event.preventDefault();
			$.get("/decision/" + item_to_show.id, function(message) {
				show_first_harvest_item();
				var message = JSON.parse(message);
				$("#message-container").append("<div id='anchor'>"+ message.message+"</div>");
			})
		})

		$("#no").click(function (event) {
			event.preventDefault();
			$.get("/decision_no/" + item_to_show.id, function(message) {
                // we don't care what the empty message is for no
				show_first_harvest_item();
			})
			
		})

		$("#harvest").click(function (event) {
		  	event.preventDefault();
		  	// console.log("CLICK!");
			// console.log($("input:checked"));
			// console.log($("#filter").serialize());
			var url = "/harvest-filter?" + $("#filter").serialize();
			$.getJSON(url, function(harvest_items_from_filter) {
				harvest_items = harvest_items_from_filter;
				show_first_harvest_item();
			});
			// $("#harvest-result").load(url);
		})
	</script>



{% endblock %}