{% extends "base.html" %}

{% block body %}


<section class="main">
	<div class="content dark style2">
		<div class="container">
			<!-- <div class="row"> -->
				<div class="12u">
					<section>
						<h3>Why Harvestr?</h3>
						<ul style="list-style-type:circle">
							<li>50% of food produced in the United States is wasted. Part of that wasted food is due to the suprlus of fruit on fruit trees and veggies left unpicked in gardens that go to waste because there is too much for the owner to use, or they don't have the resources or time to harvest the food.</li> 
							<li>Harvestr wants to reduce food waste by helping to make connections between people in order to trade or give away their otherwise wasted food.</li>
						</ul>
					</section>
			
						<h3>How Harvestr?</h3>
					
				</div>
				<div class="12u">
					<div class="row no-collapse">
						<div class="3u"><a href="#" class="image fit"><img src="static/images/stepone.jpg" alt="" /></a></div>
						<div class="3u"><a href="#" class="image fit"><img src="static/images/steptwo.jpg" alt="" /></a></div>
						<div class="3u"><a href="#" class="image fit"><img src="static/images/stepthree.jpg" alt="" /></a></div>
						<div class="3u"><a href="#" class="image fit"><img src="static/images/stepfour.jpg" alt="" /></a></div>
					</div>
					<div class="row no-collapse">
						<div class="6u"><a href="#" class="image fit"><img src="static/images/pic03.jpg" alt="" /></a></div>
						<div class="6u"><a href="#" class="image fit"><img src="static/images/pic04.jpg" alt="" /></a></div>
					</div>
					<div class="row no-collapse">
						<div class="6u"><a href="#" class="image fit"><img src="static/images/pic05.jpg" alt="" /></a></div>
						<div class="6u"><a href="#" class="image fit"><img src="static/images/pic06.jpg" alt="" /></a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Third -->
<section id="third" class="main">
	<header>
		<div class="container">
			<h2>Ornare varius lorem ipsum ante lectus</h2>
			<p>Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet consequat<br />
			feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet.</p>
		</div>
	</header>
	<div class="content dark style3">
		<div class="container">
			<span class="image featured"><img src="static/images/pic07.jpg" alt="" /></span>
			<div class="row">
				<div class="4u">
					<h3>Diam vivamus turpis lorem sodales lectus ornare</h3>
					<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales. Diam 
					tempor dui lacinia eget ornare varius gravida. Gravida dis placerat lectus ante 
					vel nunc euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus 
					augue cubilia vivamus nisi eu eget ornare varius gravida euismod.  Gravida dis 
					lorem ipsum dolor placerat magna tempus feugiat.</p>
					<p>Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia 
					accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida dolore 
					euismod lorem ipsum dolor sit amet consequat. vivamus nisi eu eget ornare varius 
					gravida dolore euismod lorem ipsum dolor sit amet consequat. vivamus nisi eu 
					eget ornare et magna.</p>
				</div>
				<div class="4u">
					<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales. Diam 
					tempor dui lacinia eget ornare varius gravida. Gravida dis placerat lectus ante 
					vel nunc euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus 
					augue cubilia vivamus nisi eu eget ornare varius gravida euismod.  Gravida dis 
					lorem ipsum dolor placerat magna tempus feugiat.</p>
					<p>Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia 
					accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida dolore 
					euismod lorem ipsum dolor sit amet consequat eget ornare varius gravida euismod.
					Gravida dis lorem ipsum dolor placerat magna tempus feugiat magna tempus lorem.</p>
					<p>Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia 
					accumsan vivamus augue cubilia.</p>
				</div>
				<div class="4u">
					<p>Placerat lectus ante vel nunc euismod est turpis sodales. Diam tempor dui 
					lacinia eget ornare varius gravida. Gravida dis placerat lectus ante vel nunc 
					euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus augue 
					cubilia vivamus nisi eu eget ornare varius gravida euismod.  Gravida dis 
					lorem ipsum dolor placerat magna tempus feugiat. Lectus ante vel nunc euismod 
					est turpis sodales. Diam tempor dui lacinia dolore.</p>
					<p>Accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida 
					dolore euismod lorem ipsum dolor sit amet conseismod lorem ipsum dolor sit amet 
					consequat lorem ipsum consequat feugiat sed tempus euismod feugiat veroeros.</p>
					<footer>
						<a href="#fourth" class="button scrolly">Ipsum ornare lorem dolor</a>
					</footer>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Fourth -->
<section id="fourth" class="main">
	<header>
		<div class="container">
			<h2>Sed feugiat ipsum consequat</h2>
			<p>Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet consequat<br />
			feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet.</p>
		</div>
	</header>
	<div class="content style4 featured">
		<div class="container small">
			<form method="post" action="#">
				<div class="row half">
					<div class="6u"><input type="text" placeholder="Name" /></div>
					<div class="6u"><input type="text" placeholder="Email" /></div>
				</div>
				<div class="row half">
					<div class="12u"><textarea name="message" placeholder="Message"></textarea></div>
				</div>
				<div class="row">
					<div class="12u">
						<ul class="actions">
							<li><input type="submit" class="button" value="Send Message" /></li>
							<li><input type="reset" class="button alt" value="Clear Form" /></li>
						</ul>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>

<!-- Footer -->
<section id="footer">
	<ul class="icons">
		<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
		<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
		<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
	</ul>
	<div class="copyright">
		<ul class="menu">
			<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>
	</div>
</section>
{% endblock %}