{% extends "base.html" %}

{% block body %}

<section id="fourth" class="main">
	<div>
		<div class="container">
			<!-- <div class="row"> -->
				<div class="12u contenttext">
					<section>
						<h2 class="container">Why Harvestr?</h2>
						<ul style="list-style-type:circle">
							<li>50% of food produced in the United States is wasted. Part of that wasted food is due to the suprlus of fruit on fruit trees and veggies left unpicked in gardens that go to waste because there is too much for the owner to use, or they don't have the resources or time to harvest the food.</li> 
							<li>Harvestr wants to reduce food waste by helping to make connections between people in order to trade or give away their otherwise wasted food.</li>
						</ul>
					</section>
						<header>
						<h2>How Harvestr?</h2>
					</header>
					
				</div>
				<div class="12u">
					<div class="row no-collapse">
						<div class="3u"><a href="#" class="image fit"><img src="static/images/stepone.jpg" alt="" /></a></div>
						<div class="3u"><a href="#" class="image fit"><img src="static/images/steptwo.jpg" alt="" /></a></div>
						<div class="3u"><a href="#" class="image fit"><img src="static/images/stepthree.jpg" alt="" /></a></div>
						<div class="3u"><a href="#" class="image fit"><img src="static/images/stepfour.jpg" alt="" /></a></div>
					</div>
				
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Third -->


<!-- Footer -->
<section id="footer">
	
	<div class="copyright">
		<ul class="menu">
			<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>
	</div>
</section>
{% endblock %}