<html>


<body>

<script src="/wp-includes/js/addInput.js" language="Javascript" type="text/javascript">
	
</script>
<form method="POST">
     <div id="dynamicInput">
          Item 1<br><input type="text" name="myInputs[]">
     </div>
     <input type="button" value="Add another text input" onClick="addInput('dynamicInput');">
</form>

<script>
var counter = 1;
var limit = 5;
function addInput(divName){
     if (counter == limit)  {
          alert("You have reached the limit of adding " + counter + "open items. Once you have a match, change your item's status to closed, and you can add more items to swap!");
     }
     else {
          var newdiv = document.createElement('div');
          newdiv.innerHTML = "Item " + (counter + 1) + " <br><input type='text' name='myInputs[]'>";
          document.getElementById(divName).appendChild(newdiv);
          counter++;
     }
}
</script>
</body>
</html>