{% extends "base.html" %}

{% block body %}

		
<section id="first" class="main">


<div class="content style1 featured" style="padding: 0">
	<div class="container">
				<section class="main"> 
					<header style="padding: 0">
						<h2>{{current_user.name}}'s Profile</h2>
					</header>
					Address: {{current_user.location}}<br>
					Email: {{current_user.email}}
						</p>check out all of your open items!</p>
				</section>
	</div>
	

			{% for photo in current_user.items %}
				{% for attribute in photo.itemsattributes %}
					{% if attribute.attribute_name == "status" and attribute.attribute_value == "open" %}
					<div class="section group">
						<div class="col span_3_of_3">
							<section>
								<div class="harvestphoto fit"><img src= "{{ photo.photo_path }}" alt=""/></div>
							</section>
						</div>
					</div>
					{% endif %}
				{% endfor %}
			{% endfor %}

			<div class="column">
			<div class="12u">
				<footer>
					<a href="/alluserimages" class="button scrolly">View all items</a>
				</footer>
			</div>
	
		

			<div class="row">
		
				<p>YOUR CURRENT MATCHES:</p>
		

			{% for item in match_items %}
					<div class="column">
						<div class="12u">
							<section>
								<div class="harvestphoto fit"><img src= "{{ item.photo_path }}" alt=""/></div>
							</section>
						</div>
					</div>
			{% endfor %}	

				
			</div>
		</div>
		
				
{% endblock %}